langchain-ollama
langchain_community
pdf2image
pypdf
openpyxl
faiss-cpu
sentence_transformers
langchain_groq
langchain-openai
openai
xmltodict
langgraph
streamlit
pandas
python-dotenv
requests
plotly
pydantic
